/Ex01_If.class
/Ex02_LeapYear.class
/Ex03_FullAge.class
/Ex04_Switch.class
/Ex05_Alarm.class
/Ex11_For.class
/Ex12_While.class
/Ex13_Diamond.class
/Ex14_PerfectNumber.class
/Q01.class
/Q02.class
/Q03.class
/Q04.class
/Q05.class
