/Animal.class
/Animal2.class
/Cat.class
/Cat2.class
/Dog.class
/Dog2.class
/Ex01_Checked.class
/Ex02_Unchecked.class
/Ex03_UncheckedSolution.class
/Ex04_Finally.class
/Ex05_MultiCatch.class
/Ex06_MultiCatch2.class
/Ex07_General.class
/Ex08_Throws.class
